@import url(fonts.css);
footer section {
  display: flex;
  padding: 50px 145px;
  align-items: center;
}

/* Følg Os */
footer i {
  font-size: 45px;
  padding: 50px;
  color: black;
}

.flexSpaceBetween {
  justify-content: space-between;
}

/* Links in footer */
#footerLinks {
  display: flex;
  gap: 100px;
}
.linksColumn {
  flex-direction: column;
  text-align: center;
}
footer a {
  padding: 24px 24px 0 24px;
  display: block;

  text-decoration: none;
}

/*  */
#privacyPolicy div {
  display: flex;
  gap: 45px;
}
