* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
}

.dark-section {
  background-color: #883f3f;
}
