header #bg-picture {
  width: 100%;
  background-image: url("../assets/img/legeplads-min.jpeg");
  min-height: 20rem;
  max-height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  margin-top: 41rem;
  background-color: white;
  width: fit-content;
  padding: 2rem;
  padding-right: 15rem;
}

header p {
  max-width: 70%;
  margin: 0 auto;
  padding: 10rem 0;
  font-weight: 700;
}
