*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-image: url("../assets/Placement.png");
    min-height: 200px;
    max-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1{
    margin-top: 410px;
    margin-left: 80px;
    background-color: white;
    width: fit-content;
    padding: 20px;
    padding-right: 200px;
}

