@import url(fonts.css);
@import url(global.css);
@import url(nav.css);
@import url(header.css);
@import url(footer.css);

section {
  display: flex;
}

.flip {
  flex-direction: row-reverse;
}

.img-div {
  width: 50%;
}

figure img {
  width: 100%;
}

article {
  width: 50%;
}

.article-text {
  max-width: calc(146rem / 2);
  margin: 0 auto 0 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.article-text-flip {
  max-width: calc(146rem / 2);
  margin: 0 8.5rem 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main p {
  margin-bottom: 2.5rem;
}
