@import url(headerStyle.css);
@import url(footerStyle.css);
@import url(navStyle.css);

main {
  margin-bottom: 40rem;
}

p {
  margin-bottom: 2.5rem;
}

figure img {
  width: 100%;
  margin-bottom: 3.5rem;
}
