@import url(fonts.css);
@import url(global.css);
@import url(nav.css);
@import url(header.css);
@import url(footer.css);

.narrow-container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}

main {
  margin-bottom: 40rem;
}

main p {
  margin-bottom: 2.5rem;
}

figure img {
  width: 100%;
  margin-bottom: 3.5rem;
}
