@import url(fonts.css);
@import url(global.css);

.text-column {
  columns: 3;
  padding: 45px 0;
  gap: 50px;
}
section .container {
  padding: 45px 0;
  display: flex;
}
section img {
  object-fit: cover;
}
